model_config_list
{
    config 
    {
        name: 'half_plus_two',
        base_path: '/models/half_plus_two/',
        model_platform: 'tensorflow',
        model_version_policy
        {
            specific
            {
                versions: 123
                versions: 124
            }
        }
    },
    config
    {
        name: 'half_plus_three',
        base_path: '/models/half_plus_three/',
        model_platform: 'tensorflow'
    }
}